
@media (max-width:600px){
    span{
        width: 330px;
    }
    .cards {
        display: flex;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 100%;
    }
    .content{
        width: 100%;
        margin: 5% auto;
        padding: 70%;
        justify-content: center;
     
    }
    h2{
        font-size: 1em;
    }
    .content p, li{
       
        font-size: 0.9em;
    }
   nav .navOptions{
    display: none;
   }
   .menu {
    display:block;
}
   .main{
       padding: 4%;
   }
   picture span{
       font-size: 1em;
       width: 100%;
   }

  
 }
 @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
