/* Variables */
:root{
    --azul:#293462;
    --blanco: white;
    --negro: #313337;
    --space:10px;
    --rojo:#F24C4C;
    --naranja:#EC9B3B;
    --amarillo:#F7D716;
}

/* Variables */
*{
    padding: 0px;
    margin: 0px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--azul);
    padding: 30px;
}
/*
nav#logo{
    background: linear-gradient(170deg, var(--color-1) 0%, var(--color-1) 50%, var(--color-2) 50%, var(--color-2) 100%);
    page-break-after: var(--space);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

h1 {
    font-size: 2rem;
      font-size: clamp(2rem, 1.2rem + 2.66vw, 4rem);
      margin: 0.3em 0 0.1em 0;
  }
  h2 {
    font-size: 1.5rem;
      font-size: clamp(1.5rem, 1.1rem + 1.33vw, 2.5rem);
      margin: 0.3em 0 0.1em 0;
  }
nav ul {
    display: flex;
}
nav h3{
    padding-left: 10px;
    padding-right: 10px;
}
nav h3 a{
   color: var(--azul); 
   text-decoration: none;
}
h3 a:hover{
    color: grey;
}
/* Main Section */
.main{
    padding: 15%;
    text-align: center;
}

.cards{
    /*background-image: url("/src/fondo.jpg");*/
    
    height:20px;
    border-radius: 5%;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display:flex;
    
}
.cards .content{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 30px 50px -25px #ad3500;
    position: relative;
    transition: all 0.3s ease;
    top: 0;
}
.product .content{
    background-color: var(--blanco);
    padding: 15px;
    box-shadow: 0 0 2px rgb(177, 166, 166);
}
.product{
    padding: var(--space);
    margin-top: -200px;
}
.img-content{
    padding: 10%;
    text-align: center;
    border-radius:150px;
    border:10px solid white;
}
.img-profile{
        padding: 10%;
        text-align: center;
        border-radius:150px;
        border:10px solid white;
        background-color: var(--azul);;
}

.categorias{
    padding: 5%;
    display: flex;
}
.categoria .content{
    background-color: var(--blanco);
    padding: 0px;
    box-shadow: 0 0 2px rgb(177, 166, 166);
}
.categoria{
    text-align: center; 
}
img{
    height: 100px;
}
.main-button{
    background-color: var(--azul);
    width: 100%;
    padding: var(--space);
    font-style: 17;
    color: var(--blanco);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}
.main-button:hover{
    background-color: #5a9621;
}
.content-title{
    text-align: center;
    padding: 5%;
}

  
  /* Mentions */
  .menciones{
    display: flex;
    padding: 5%;
  }
  .mencion img{
    width: 300px;
    height: 100px;
  }
  h2.mention_title{
    text-align: center;
  }
  .mencion{
    padding: var(--space);
  }
  .content_mention{
    box-shadow: 0px 0 2px 1px #e6e5e9;
  }
  
  /* ------------------------------------------- Footer */
  footer{
    display: flex;
    justify-content: space-between;
    font-size: Helvetica;
    background-color: var(--negro);
    padding: var(--space);
    color: var(--blanco);
  }
  .contact a{
    color: var(--green-color);
  }
  table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
.listas{
  justify-content: center;
  align-content: center;
  list-style-type: lower-roman;
  color: #1F516B;
  text-align: center;
  display: flex;

}

.content:hover{
    box-shadow: 0px 50px 75px -25px var(--azul) !important;
    top: -20px !important;
}picture img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
  /* Fin */
  
  /*
    Agregue las reglas y valores para: 
      - Borde del radio: 0.4rem
  */
  
  /* Inicio */
  picture img {
    border-radius: 0,4rem;
  }
  /* Fin */
  
  /*
    Agregue las reglas y valores para: 
      - Ancho máximo 30%
      - Mostrar como tipo bloque
      - Margen 
            superior e inferior: 0
            izquierda y derecha: automático 
  */
  
  /* Inicio */
  picture span {
    
  }
  /* Fin */
  
  
  /*
    Agregue las reglas y valores para: 
      - Color de fondo: blanco
      - Relleno
          arriba y abajo:  1.4rem
          izquierda y derecha:  2rem
  */
  
  /* Inicio */
  picture span {
    background: white;
    padding: 1.4rem 2rem;
    margin: 0 auto;
    font-size: 1.5vw;
    font-size: italic;
    border-color: #1F516B;
    border-width: 1.2pt 1.3pt 1.2pt 1.2pt;
    border-style: solid;
  }
